<!DOCTYPE html>
<html>
<head>
	<title>Postal Rate Calculator</title>
</head>
<body>
	<div class="container">
		<h2>Postal Rate Calculator</h2>
		
		<div>
			<form action="/getRate" method="post">
				<label for="weight">Weight: </label>
					<input id="weight" type="text" name="weight">

				<select id="type" name="type">
					<option value="ls">Letter (Stamped)</option>
					<option value="lm">Letter (Metered)</option>
					<option value="le">Large Envelopes (Flats)</option>
					<option value="par">Parcels</option>
				</select>
				<br>
				<br>

				<button type="submit" value="submit"> Compute Rate </button>

			</form>
		</div>
	</div>
</body>